*{
    box-sizing: border-box; margin: 0; padding: 0;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 101, 104);
    padding: 10px 20px;
    height: 10vh;
    width: 100vw;
    position: fixed;
}


.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 150px;
    margin-right: 130px;}

.main-nav a{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    margin-right: 80px;
    margin-left: 70px;
    
    


}
.brand{
    color: white;
    margin-left: 125px;
    
}
main{
    background-color:rgb(248, 250, 252);
}
.hero-inner{
    display: flex;
    align-items: center;
    margin-right: 350px;
}
.hero-text{
    font-size: 25px;
    align-items: center;
    margin-left: 350px;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rocket{color: rgb(11, 18, 148);}
.hero-image{
    margin-top: 100px;
    margin-left: 50px;
}

.section-title {
    margin-bottom: 18px;
    align-items: center;
    display: flex;
    font-size: 45px;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    gap: 1px;
    

}
#rockets{
    height: 150vh;
    padding: 290px;
}
.card{
    background: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 6px 18px rgba(1, 4, 8, 0.926);
    text-align: center;
    margin: 20px;
    height: 40vh;
}
.card img{
    width: 40%;
    margin-bottom: 5px;
}
.price{
    font-size: xx-large;
}
.card h3{
    font-size: xx-large;
}
.container{
    justify-content: center;
    align-items: center;
}
.come{
    color: black;
    justify-content: space-between;
    gap: 80px;
}
.r{
    width: 300px;
    color: black;
    border: 1px solid;
    width: 700px;;
    border-radius: 20px;
     background-color: rgb(15, 101, 104);
     height: 300px;

}
.Go{
    font-size: 28px;
    color: white;
    margin-top: 50px;
    align-items: center;
    text-align: center;

}
    
   
.name{
    align-items: center;
    margin-left: 400px;
}
.testimonials{
    /* margin-left : 400px; */
    /* margin-left: px; */
    width: screen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}

.testifier{background-color: white; font-size: x-large; text-align: left;}
.Contacts{
    padding: 270px;

}

.form-row{
    margin-bottom: 12px;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 500px;

}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: xx-large;




}
#subject{
    width: 750px;
    height: 50px;
    border-radius: 10px;
}
#message{
    width: 750px;
    height: 350px;
    border-radius: 10px;
}
.btn{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    align-items: self-end;
    background-color:  rgb(15, 101, 104);
    color: #fff;
}
.footer{
    background-color: rgb(15, 101, 104);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: x-large;
    color: white;
    
    

}
.footer-nav{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
   
}
.bi{
    font-size: 40px;
    color: #fff;

}






 

